@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
h6{
    font-weight: 600;
    font-size: 18px;
}
.navbar-brand{
  color: #ffffff !important;
}
.navbar-dark .navbar-nav .nav-link{
  color: #ffffff !important;
}
h6.sub-h{
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

  .role .label {
    color: #bd8b13;
}
.title-left {
    color: #bd8b13;
    text-align: left;
}
.title-left {
    margin-bottom: 10px;
}
.row-images img{
  margin-bottom: 24px;
}
.box-shadow-img{
  box-shadow: 0px 0px 4px 1px hsl(0deg 0% 0% / 14.9%);
}

/* SprintOps */

.scope-card .card{
  background-color: #E9F2FF;
  color: #00233c;
  border-right: 1px solid #e1e5eb;
}
.scope-card .card:last-child{
  
  border-right: 0px solid #e1e5eb;
}
.key-card .card{
  background-color: #E9F2FF;
  color: #00233c;
  border-right: 1px solid #e1e5eb;
}
.key-card .card:last-child{
  
  border-right: 0px solid #e1e5eb;
}
.card-goal .card{
background-color: #E9F2FF;
color: #00233c;
border-right: 1px solid #e1e5eb;
}
.card-goal .card:last-child{
  
  border-right: 0px solid #e1e5eb;
}
.py-50{
  padding-top: 50px;
  padding-bottom: 50px;
}
.sprint-title{
  padding: 25px 0;
    color: #fff;
}
.lean-ux-wrapper {
      background: #f6fbeb;
      border-radius: 20px;
      padding: 10px 30px 60px;
      position: relative;
    }

    .title {
      text-align: center;
      font-weight: 700;
      letter-spacing: 2px;
      color: #ff7a00;
      margin-bottom: 40px;
    }

    .stage {
      text-align: left;
    }

    .stage-title {
      display: inline-block;
      background: #ff7a00;
      color: #fff;
      padding: 8px 16px;
      border-radius: 6px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .stage ul {
      list-style: none;
      padding-left: 0;
      margin-top: 10px;
    }

    .stage ul li {
      margin-bottom: 8px;
      font-size: 15px;
    }

    /* Arrows */
    .arrow {
      position: absolute;
      top: 90px;
      height: 2px;
      background: #1e3a8a;
    }

    .arrow::after {
      content: "";
      position: absolute;
      right: -8px;
      top: -5px;
      border-left: 10px solid #1e3a8a;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }

    .arrow-1 {
      left: 20%;
    width: 20%;
    }

    .arrow-2 {
      left: 59%;
    width: 20%;
    }

    /* Bottom return arrow */
    .bottom-arrow {
      position: absolute;
      left: 12%;
      right: 12%;
      bottom: 25px;
      height: 2px;
      background: #1e3a8a;
    }

    .bottom-left-connector::before {
      content: "";
    position: absolute;
    left: -7px;
    top: -7px;
    border-right: 8px solid #1e3a8a00;
    border-top: 0px solid #00000000;
    border-bottom: 8px solid #000000;
    border-left: 8px solid #1e3a8a00;
    }

    .bottom-connector {
      position: absolute;
      right: 12%;
      bottom: 25px;
      height: 80px;
      width: 2px;
      background: #1e3a8a;
    }

    .bottom-left-connector {
      position: absolute;
      left: 12%;
      bottom: 25px;
      height: 30px;
      width: 2px;
      background: #1e3a8a;
    }